<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="~/styles/core.css" rel="stylesheet" type="text/css" />
    <title>Tamagotchi Pets</title>
  </head>
  <body>
    <img src="~/images/dog.jpeg" />
    <header>
      <h1>Welcome to Tamagotchi!</h1>
    </header>
    <main>
      <a href="/pets/new">Add a new Pet</a>
      <a href="/pets">See list of Pets</a>
    </main>
  </body>
</html>
