<form action="/pets" method="post">
  <label for="name">Enter name of pet</label>
  <input id="name" name="name" type="text" />

  <div class="radio">
    <label><input id="type" name="type" type="radio" value="cat" />Cat</label>
    <label><input id="type" name="type" type="radio" value="dog" />Dog</label>
    <label><input id="type" name="type" type="radio" value="dino" />Dino</label>
    <label>
      <input id="type" name="type" type="radio" value="cybernetic" />
      Cybernetic
    </label>
    <label>
      <input id="type" name="type" type="radio" value="martial-artist" />
      Martial Artist
    </label>
  </div>
  <button type="submit">Add Pet</button>
</form>

<link href="~/styles/core.css" rel="stylesheet" type="text/css" />
